body {
    background-color: rgb(255, 241, 241);
    font-family:inherit;
    text-align: center;
}

h1 {
    color:goldenrod;
    text-align: center;
    font: size 50px;
}

p {
    color: darkred;
    text-align: center;
    font-size: 45px;
    font-family:monospace;
}
a {
    display: block;
    width: 60px;
    font-family: inherit;
    font-weight: 700;
    background-color: rgba(247, 227, 182, 0.918);
    color: black;
    text-align: center;
}